

.Padre{
  flex-flow: column nowrap;
}
  .header{
    background-color: rgb(207, 206, 206);
  }

  .cuerpo{
    display: flex;
  }

    .MenuBotton{
      flex: 0 1 auto;
      align-items: center;
    }

    .PerfilUsuario{
      flex: 1 1 auto;
    }



